<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/backend">
<head>
<meta charset="UTF-8"/>
<title>文章管理</title>
</head>
<body>
<div layout:fragment="content">
    <div class="btn-group">
        <a class="btn btn-primary" href="/article/article-edit.html?id=0">添加</a>

    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

</div>

</body>
</html>