<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>login page</title>
	<link href="../plugins/winstrap/css/winstrap.css" rel="stylesheet" />
	<link href="../css/site.css" rel="stylesheet" /> 
	<style>
	
		input.form-control, textarea.form-control{
			max-width:100%;
		}
	</style>
</head>
<body>
<div class="container">
	<div id="page-login" class="row">
		<div class="col-xs-12  col-xs-offset-6" style="padding-top: 40px;">
		
		<form th:action="@{/login.action}" method="POST">
			<div class="box">
				<div class="box-content">
					<div class="text-center">
						<h3 class="page-header">管理平台登陆</h3>
					</div>
					<div class="form-group">
						<label class="control-label">用户名</label>
						<input type="text" class="form-control" name="username" id="username"  maxlength="20" />
					</div>
					<div class="form-group">
						<label class="control-label">密码</label>
						<input type="password" class="form-control" name="password" maxlength="20" id="password"/>
					</div>
					<div class="text-center">
				
						<input type="submit" class="btn btn-primary" value="登  陆"/>
					</div>

           				<p class="text-danger" th:if="${param.error}">
            				用户名密码不正确.
        				</p>
        				<p class="text-danger" th:if="${param.logout}">
            				你已经退出登录.
        				</p>
				</div>
			</div>
			</form>
	
</div>
</div>
</div>
</body>
</html>