<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<div th:fragment="footer">		
		<footer>
			<div  class="row">	
				<div class="col-xs-12 col-md-24" >
						<span class="copyright"> &copy; 2015 版权所有<a 
							href="/backend/">sam</a>'s code.
						</span>
				</div>
			</div>				
      	</footer>     
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F26799e610cdd4803908e5d39dc6fe774' type='text/javascript'%3E%3C/script%3E"));
    </script>    
    </div>
    
    <div th:fragment="footer-admin">
      	&copy; 2015 版权所有 <a href="#">管理</a>
    </div>    
</body>
</html>